@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-12%);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.text1 {
  align-items: center;
  right: 0;
  animation: slideInRight 1.8s ease-in-out 0s forwards;
}

.text2 {
  align-items: center;
  right: 0;
  animation: slideInRight 2s ease-in-out 0s forwards;
}

.text3 {
  align-items: center;
  right: 0;
  animation: slideInRight 2.2s ease-in-out 0s forwards;
}

.mainText {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 20px;
  font-family: "IBMPlexSansKR-Regular";
  font-size: 25px;
}

.logoImg {
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 350px;
  height: 350px;
  border: dashed 3px rgb(7, 93, 7);
  margin-left: 200px;
  margin-top: 20px;
  animation: slideInBottom 1.8s ease-in-out 0s forwards;
}

.main {
  padding-top: 270px;
  padding-bottom: 100px;
  margin: 0;
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
}
